.dap-breakpoints
.emacs.desktop
.emacs.desktop.lock
abbrev_defs
backup/*
bookmarks
eshell/history
history
places
image-dired/*
projectile.cache
projectile-bookmarks.eld
straight/*
timelog
tramp
transient/history.el
url/cache/*
url/cookies
*~
.lsp-session-v1
recentf
regional-prefs.el
